@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Inter:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Open+Sans:ital,wght@0,700;1,400;1,500&family=Red+Hat+Text:ital,wght@0,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,900&family=Tinos:ital,wght@0,400;1,700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: "Montserrat";
}
.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #232331;
	padding-left: 90px;
}
.mobail-menu{
	width: 25px;
	height: 25px;
	display: none;
}
.logo-menu{
	display: flex;
	grid-column-gap: 33px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	width: 900px;
}
.logo-menu a{
	text-decoration: none;
	color: #fff;
	padding-left: 20px;
}
.gmail{
	background-color: #D60B51;
	margin-left: 76px;
	color: #fff;
	padding-left: 42px;
	padding-top: 44px;
	padding-right: 130px;
	padding-bottom: 32px;
	width: 400px;
}
.gmail p{
	font-size: 24px;
	font-weight: 700;
}
.gmail a{
	color: #fff;
	text-decoration: none;
	padding-top: 1px;
	font-size: 18px;
}
.info{
	justify-content: center;
	display: grid;
	text-align: center;
	padding-top: 158px;
	background-image: url(img/image4.png);
	background-size: cover;
	padding-bottom: 606px;
	height: 100px;
}
.info p{
	font-size: 70px;
	font-weight: 700;
	color: #fff;
}
.info h1{
	font-size: 20px;
	padding-top: 16px;
	font-weight: 700;
	color: #fff;
}
.catalog{
	display: flex;
	align-items: center;
	padding-top: 101px;
	grid-column-gap: 207px;
	justify-content: center;	
}
.catalog1 p{
	color: #D60B51;
}
.catalog h1{
	padding-top: 42px;
}
.catalog2 img{
	width: 65px;
}
.catalog2 h1{
	font-size: 20px;
}
.DT{
	display: flex;
	justify-content: center;
	font-size: 24px;
	padding-top: 254px;
	grid-column-gap: 15px;
}
.btton a{
	font-size: 24px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}
.btton{
	background-color:#F5F5F54D;
	padding: 43px 113px 43px 113px;
}
.About-us{
	display: flex;
	justify-content: center;
	padding-top: 175px;
	align-items: center;
}
.About-us-text{
	padding-right: 99px;
}
.About-us-text p{
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 53px;
}
.About-us-text h1{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 25px;
}
.efect{
	position: absolute;
	margin-top: -160px;
	left: 90px;
	z-index:-1;
}
.worcs{
	justify-content: center;
	display: grid;
	background-image: url(img/Rectangle11.png);
	background-size: cover;
	margin-top: 141px;
	padding-bottom: 124px;
	height: 800px;
}
.worcs-info{
	display: flex;
	grid-column-gap: 115px;
	padding-top: 106px;
	padding-left: 450px;
}
.worcs-text{
	justify-content: center;
	display: grid;
	font-size: 31px;
	font-weight: 700;
	padding-top: 132px;
	color: #fff;
}
.worcs-namber p{
	color: #fff;
	font-size: 18px;
	
}
.worcs-namber{
	text-align: center;
}
.worcs-namber1{
	text-align: center;
	padding-top: 15px;
}
.worcs-namber1 p{
	color: #fff;
	font-size: 18px;
}
.using{
	display: flex;
	justify-content: center;
	margin-top: 400px;
	background-color: #232331;
	padding-top: 64px;
	padding-bottom: 40px;
	width: 100%;
	width: 1855px;
}
.using-btn{
	align-items: center;
	display: flex;
	grid-column-gap: 5px;
	padding-left: 84px;
}
.using-text p{
	color: #fff;
	font-weight: 700;
	font-size: 18px;
}
.using-text h1{
	font-weight: 400;
	font-weight: 18;
	color: #fff;
	line-height: 21px;
	padding-top: 5px;
}
.btn1{
	background-color: #D9D9D9;
	padding: 11px 247px 12px 11px;
}
.btn1 p{
	color: #000;
	font-size: 18px;
	font-weight: 400;
}
.using-batton {
	background-color:#D60B51;
	padding: 11px 34px 11px 52px;
	margin-left: 5px;
}
.using-batton a{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}
.customers{
	justify-content: center;
	padding-top: 124px;
	display: grid;
}
.customers h2{
	font-size: 32px;
	font-weight: 700;
	padding-left: 425px;
}
.customers-logo{
	display: flex;
	align-items: center;
	padding-top: 96px;
	grid-column-gap: 201px;
}
.customers-namber{
	text-align: center;
}
.customers-namber p{
	padding-top: 58px;
}
.customers-namber h1{
	padding-top: 42px;
	font-size: 18px;
	font-weight: 400;
}
.logo4{
	justify-content: center;
	display:flex;
	grid-column-gap: 91px;
	padding-top: 60px;
}
.a1{
	background-color: #f5f5f5;
	padding: 48px;
	border-bottom: 3px solid #D9D9D9;
}
.a2 {
	background-color: #f5f5f5;
	border-bottom: 3px solid #D9D9D9;
	padding-top: 48px;
	padding-right: 90px;
	padding-left: 90px;
}
.becend-text{
	background-color: #232331;
	color: #fff;
	padding-top: 64px;
	padding-left: 182px;
	margin-top: 110px;
	padding-right: 164px;
	padding-bottom: 64px;
}
.becend{
	display: flex;
	justify-content: center;
}
.becend-text p{
	font-size: 32px;
	font-weight: 700;
}
.becend-text h4{
	font-size: 20px;
	font-weight: 400;
	padding-top: 47px;
}
.contact h2{
	padding-top: 28px;
	font-size: 16px;
	font-weight: 400;
}
.sot-ceti{
	padding-top: 74px;
	font-size: 16px;
	font-weight: 400;
}
.sot-ceti h1{
	padding-left: 30px;
}
.gps{
	padding-top: 110px;
}
.text-end{
	justify-content: center;
	display:grid;
	padding-top: 21px;
	font-size: 27px;
	font-weight: 400;
}
#menu-db{
	position: absolute;
	list-style-type: none;
	left: 0px;
	top: 0px;
	background-color:#000;
	padding: 25px;
	border-radius: 5px;
}
#menu-db li{
	font-size: 25px;
	color: #fff;
	font-weight: 700;
	padding-top: 25px;
}
#menu-db a{
	color: #fff;
}
.d-n{
	display:none;
}
header{
	position: fixed;
}






@media screen and (max-width:1822px ) {
	.info{
		width: 100%;
	}
}
@media screen and (max-width:1786px ) {
	.info{
		width: 1810px;
	}
	.worcs{
		width: 1810px;
	}
	.using{
		width: 1810px;
	}
}
@media screen and (max-width:1684px ) {
	.customers{
		padding-left: 90px;
	}
	.logo4{
		padding-left: 90px;
	}
	.becend{
		padding-left: 90px;
	}
	.text-end{
		padding-left: 90px;
	}
}
@media screen and (max-width:1602px ) {
	.customers{
		padding-left: 150px;
	}
	.logo4{
		padding-left: 150px;
	}
	.becend{
		padding-left: 150px;
	}
	.text-end{
		padding-left: 150px;
	}
}
@media screen and (max-width:1572px ) {
	.customers{
		padding-left: 170px;
	}
	.logo4{
		padding-left: 170px;
	}
	.becend{
		padding-left: 170px;
	}
	.text-end{
		padding-left: 150px;
	}
	.becend-text{
		width: 900px;
	}
}
@media screen and (max-width:1520px ) {
	.customers{
		padding-left: 210px;
	}
	.logo4{
		padding-left: 210px;
	}
	.becend{
		padding-left: 210px;
	}
	.text-end{
		padding-left: 210px;
	}
	.becend-text{
		width: 900px;
	}
}
@media screen and (max-width:1454px ) {
	.customers{
		padding-left: 280px;
	}
	.logo4{
		padding-left: 280px;
	}
	.becend{
		padding-left: 280px;
	}
	.text-end{
		padding-left: 280px;
	}
}
@media screen and (max-width:1336px ) {
	.customers{
		padding-left: 400px;
	}
	.logo4{
		padding-left: 400px;
	}
	.becend{
		padding-left: 400px;
	}
	.text-end{
		padding-left: 400px;
	}
}
@media screen and (max-width:1336px ) {
	.customers{
		padding-left: 600px;
	}
	.logo4{
		padding-left: 600px;
	}
	.becend{
		padding-left: 600px;
	}
	.text-end{
		padding-left: 600px;
	}
	.customers h2{
		padding-left: 280px;
	}
}
@media screen and (max-width:1208px ) {
	.About-us{
		padding-left: 290px;
	}
}
@media screen and (max-width:1209px ) {
	.About-us{
		width: 1600px;
	}
}
@media screen and (max-width:1207px ) {
	.About-us{
		width: 1000px;
	}
}
@media screen and (max-width:1085px ) {
	.customers{
		padding-left: 700px;
	}
	.logo4{
		padding-left: 700px;
	}
	.becend{
		padding-left: 700px;
	}
	.text-end{
		padding-left: 700px;
	}
}
@media screen and (max-width: 900px) {
	.logo-png{
		display: none;
	}
	.mobail-menu{
		display: block;
		padding-right: 90px;
		width: 40px;
		height: 40px;
	}
	.logo-menu{
		display: none;
	}
	.logo{
		width: 100%;
	}
	header{
		width: 100%;
	}
	.logo-menu{
	    position: fixed;
	    top: 20%;
	    left: 50%;
	    padding: 20px;
	    width: 360px;
	    margin-left: -200px;	
	    background: #fff;
	    border: 1px solid orange;
	    border-radius: 4px; 
	    z-index: 99999;
	    opacity: 1;	
	}
	.menu-close{
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
@media screen and (max-width: 905px) {
	.customers{
		padding-left: 800px;
	}
	.logo4{
		padding-left: 900px;
	}
	.becend{
		padding-left: 900px;
	}
	.text-end{
		padding-left: 900px;
	}
}
@media screen and (max-width: 832px) {
	.customers{
		padding-left: 900px;
	}
}
@media screen and (max-width: 660px) {
	.worcs-text{
		font-size: 60px;
	}
	.worcs-namber img{
		width: 78px;
	}
	.worcs-namber p{
		font-size: 40px;
	}
	.worcs-namber1 p{
		font-size: 40px;
		padding-top: 15px;
	}
	.worcs-namber1 img{
		width: 78px;
	}
	.worcs-info{
		padding-left: 50px;
	}
	.customers-namber p{
		font-size: 30px;
		font-weight: 700;
	}
	.customers-namber h1{
		font-size: 30px;
		font-weight: 700;
	}
	.customers h2{
		padding-left: 400px;
	}
	.text-end{
		font-size: 30px;
		font-weight: 700;
	}
	.About-us-text h1{
		font-weight: 700;
	}
}
@media screen and (max-width: 550px) {

}
@media screen and (max-width: 505px) {
	.mobail-menu{
		width: 90px;
		height: 90px;
		left: 90px;
		padding-left: 50px;
	}
	#menu-db li{
		font-size: 60px;
	}
	.gmail p{
		font-size: 40px;
	}
	.gmail a{
		font-size: 40px;
	}
	.info{
		padding-top: 300px;
	}
	.info p{
		font-size: 100px;
	}
	.info h1{
		font-size: 40px;
	}
	.using-text p{
		font-size: 40px;
		line-height: 30px;
	}
	.using-text h1{
		font-size: 60px;
		line-height: 45px;
	}
	.customers{
		padding-top: 200px;
	}
}
@media screen and (max-width: 390px) {
	.mobail-menu{
		padding-left: 0;
		position: absolute;
		width: 20px;
		height: 20px;
		left: 15px;
		top: 15px;
		z-index:1;
	}
	#menu-db li{
		font-size: 15px;
	}
	.gmail p{
		font-size: 12px;
	}
	.gmail a{
		font-size: 15px;
	}
	.gmail{
		margin-left: 0;
		left: 0;
		padding-top: 19px;
		padding-bottom: 19px;
		width: 128px;
	}
	.logo{
		justify-content: flex-end;
		display: block;
		width: 100px;
	}
	.info p{
		font-size: 12px;
	}
	.info h1{
		display: none;
	}
	.info{
		width: 390px;
		height: 90px;
		padding-bottom: 120px;
		padding-top: 90px;
		justify-content: flex-end;
		display: block;
	}
	.info p{
		font-size: 32px;
	}
	.catalog img{
		height: 35px;
		width: 35px;
	}
	.catalog{
		grid-column-gap: 45px;
		padding-left: 0;
		padding: 0;
		padding-top: 53px;
	}
	.catalog1 p{
		font-size: 45px;
	}
	.catalog1 h1{
		display: block;
		font-size: 12px;
	}
	.catalog2{
		padding-top: 0;
	}
	.catalog2 h1{
		display: block;
		font-size: 12px;
	}
	.About-us{
		width: 349px;
		padding-left: 20px;
		justify-content: flex-end;
		padding-top: 22px;
	}
	.About-us-text{
		padding-right: 0;
	}
	.About-us img{
		display: none;
	}
	.worcs{
		width: 390px;
		font-size: 22px;
		margin-top: 20px;
		padding-bottom: 150px;
	}
	.worcs-text{
		font-size: 22px;
		padding-top: 40px;
	}
	.worcs-info{
		padding-left: 0;
		display: block;
		padding:0;
	}
	.worcs-namber p{
		font-size: 32px;
	}
	.worcs-namber{
		padding-top: 45px;
	}
	.worcs-namber1{
		padding-top: 40px;
	}
	.worcs-namber1 p{
		font-size: 32px;
	}
	.customers{
		justify-content: flex-end;
		padding-top: 25px;
		padding-left:0px;
		margin-left: 0;
		padding-right: 90px;
	}
	.customers h2{
		padding-left: 250px;
		padding-top: 0;
	}
	.customers-logo{
		display: block;
		padding: 0;
		margin-left: 0;
	}
	.customers h2{
		padding-left: 0px;
	}
	.customers-namber h1{
		font-size: 12px;
	}
	.customers-namber p{
		font-size: 12px;
		padding-top: 10px;
	}
	.customers-namber{
		padding-top: 50px;
	}
	.using{
		justify-content: flex-end;
		font-size: 12px;
		margin-top: 800px;
		width: 390px;
	}
	.logo4{
		justify-content: flex-end;
		display: block;
		padding-left: 0;
	}
	.using{
		margin-top: 1400px;
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.a2{
		margin-top: 30px;
	}
	.a1{
		margin-top: 30px;
	}
	.becend-text{
		width: 390px;
		padding: 0;
		padding-left: 20px;
	}
	.using-text p{
		font-size: 22px;
		padding-left: 15px;
	}
	.using-text h1{
		font-size: 19px;
		padding-left: 9px;
	}
	.using-btn{
		padding-left: 0;
		display: flex;
		margin-left: 9px;
		display:block;
	}
	.btn1{
		margin-top: 15px;
	}
	.btn1{
		padding-right: 90px;
		width: 100px;
	}
	.using-batton{
		width: 200px;
		margin-top: 15px;
		margin-left: 40px;
	}
	.becend{
		padding-left: 0;
		display: block;
	}
	.gps{
		width: 390px;
		padding-top: 15px;
	}
	.gps img{
		width: 390px;
	}
	.becend{
		margin-top: 390px;
	}
	.becend-text p{
		padding-left: 95px;
		padding-top: 15px;
	}
	.becend-text{
		padding-left: 5px;
	}
	.text-end{
		padding-left: 0;
		width: 390px;
	}
	.About-us-img{
		display: none;
	}
	.btton a{
		color: #000;
		font-size: 22px;
	}
	.DT{
		display: none;
	}
	header{
		width: 390px;
		position:fixed;
	}
}
@media screen and (max-width: 375px) {
	header{
		width: 375px;
	}
	.text-end{
		width: 375px;
	}
	.becend{
		width: 375px;
	}
	.becend-text{
		width: 375px;
	}
	.using{
		width: 375px;
	}
	.worcs{
		width: 375px;
	}
	.catalog{
		grid-column-gap: 10px;
	}
	.gps img{
		width: 375px;
	}
	.info{
		width: 375px;
	}
	.gmail{
		padding-right:115px;
	}
}